/* ================================== */
/* =============CSS RESET============ */
/* ================================== */

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
:root {
  --dark-gray-blue: #48556a;
  --grey-blue: #6d7f97;
  --light-blue: #9eafc2;
  --light: #ecf2f8;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--light);
  font-family: "Manrope", sans-serif;
}

button:focus,
button:active {
  outline: none;
  box-shadow: -1px 0px 4px 4px rgba(185, 200, 218, 0.8);
}

/* ======================================= */
/*============ MOBILE FIRST ============== */
/* ======================================= */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 17px 28px 8px rgb(0 0 0 / 6%);
  width: 88%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 30rem;
  position: relative;
  overflow: hidden;
}

/* Top part of the card */
.article__header {
  background-image: url("../images/drawers.jpg");
  background-size: cover;
  background-position: top;
  border-radius: 10px 10px 0 0;
  height: 12.5rem;
  overflow: hidden;
}

/* Article description */
.article__info--container {
  width: 80%;
  margin: 2.5rem auto 0;
}

.article__title {
  color: var(--dark-gray-blue);
  font-size: 1.025rem;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 1rem;
}

.article__summary {
  color: var(--grey-blue);
  font-size: 0.82rem;
  line-height: 1.6em;
  width: 98%;
}

/* Author info and share button */
.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.profile-picture {
  margin-right: 15px;
  width: 18%;
}
.profile-picture img {
  border-radius: 50%;
  width: 100%;
}

.author {
  display: flex;
  align-items: center;
}
.author .name {
  color: var(--dark-gray-blue);
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.author .date {
  color: var(--light-blue);
  font-size: 0.75rem;
}

.share-btn,
.share-btn-active-desktop {
  background-color: var(--light);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  min-width: 35px;
  min-height: 35px;
  transition: background-color 0.2s;
}
.share-btn-active-desktop {
  display: none;
  position: absolute;
  right: 39px;
}
.share-btn img,
.share-btn-active-desktop img {
  width: 15px;
}

.share-btn:hover {
  background-color: #cfd9e4;
  transition: background-color 0.2s;
}
.share-btn-active-desktop:hover {
  background-color: #48556a;
  transition: background-color 0.2s;
}

/* Active Share footer for mobile */
.share-footer {
  display: flex;
  align-items: center;
  background-color: var(--dark-gray-blue);
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.2rem 10%;
  transform: translateX(102%);
  transition: transform 0.6s;
}
.share-footer p,
.share-popup p {
  color: var(--light-blue);
  font-size: 0.8rem;
  letter-spacing: 0.4rem;
  margin-right: 5px;
}
.share-footer a,
.share-popup a {
  margin: 0 8px;
}
.share-footer a:hover {
  filter: opacity(0.8);
}

.share-footer .share-btn {
  background-color: var(--grey-blue);
  margin-left: auto;
  transition: background-color 0.3s;
}

.share-footer .share-btn:hover {
  background-color: #7d8faa;
  transition: background-color 0.3s;
}

.share-footer--active {
  transform: translateX(0);
  transition: transform 0.6s;
}

.share-popup {
  display: none;
}

/* Desktop version */
@media (min-width: 50rem) {
  .share-footer {
    display: none;
  }
  .card {
    display: flex;
    align-items: center;
    max-width: 45rem;
    overflow: visible;
  }

  .article__header {
    border-radius: 10px 0 0 10px;
    background-position: left;
    width: 39%;
    height: 280px;
  }

  .article__info--container {
    margin: 0 auto 0;
    padding: 2rem 2.4rem 0 2.4rem;
    width: 61%;
  }
  .article__title {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-bottom: 0.8rem;
  }
  .card__footer {
    margin-top: 1.3rem;
    margin-bottom: 1.8rem;
  }

  .profile-picture {
    width: 13%;
  }

  .share-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray-blue);
    border-radius: 10px;
    box-shadow: 3px 10px 10px 0px rgb(0 0 0 / 10%);
    opacity: 0;
    position: absolute;
    padding: 1rem 2rem;
    right: -70px;
    bottom: 130px;
    transition: opacity 0.5s, bottom 0.5s;
  }
  .share-popup-active {
    opacity: 1;
    bottom: 95px;
    transition: opacity 0.5s, bottom 0.5s;
  }
  .share-popup::after {
    content: " ";
    background-color: #48556a;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: -8px;
    left: 115px;
    transform: rotate(45deg);
  }
  .share-popup p {
    margin-right: 10px;
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
  }
  .share-popup a:hover {
    filter: opacity(0.8);
  }

  .share-btn-display-desktop {
    background-color: var(--grey-blue);
    display: inline-block;
  }
}
